<h3 style="text-align: center;">Employee List</h3>
<table class="table table-bordered table-striped m-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Gender</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees; track $index) {
      <tr>
        <td>{{ employee.eId }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.sal }}</td>
        <td>{{ employee.gender }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.eId)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table> 

