<style>
  #carouselExampleControls {
    max-width: 400px; /* Adjust width as needed */
    margin: auto; /* Center the carousel */
  }
  .carousel-inner img {
    height: 300px; /* Adjust height as needed */
    object-fit: cover; /* Ensure proper scaling */
  }
</style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://store.mschf.com/cdn/shop/files/mschf-mag-vol2-01.png?v=1727111381&width=600" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://store.mschf.com/cdn/shop/files/mschf-mag-360-01.png?v=1727111408&width=600" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://store.mschf.com/cdn/shop/files/mschf-madeinitaly-brown-02.png?v=1731009970&width=600" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
