<!-- <app-multi-function></app-multi-function> -->
<!-- <app-userview></app-userview> -->
 <!-- <app-product-listing></app-product-listing> -->
 
 <!-- <app-worker-crud></app-worker-crud> -->

<!-- <app-employees-crud></app-employees-crud> -->

<!-- <app-form></app-form> -->

<!-- <app-modelform></app-modelform> -->


 <!-- <app-folder-tree></app-folder-tree> -->

 <!-- <app-signal-demo2></app-signal-demo2> -->
 
<!-- <app-form-demo4></app-form-demo4> -->


<!-- <app-pipes></app-pipes>  -->

<!-- <app-employee-crud></app-employee-crud> -->

<!-- <app-employee></app-employee> -->

<router-outlet></router-outlet>

<app-product-details></app-product-details>