<div class="b-example-divider"></div>
<!-- <div style="height: 300px;">
    <h1>This is body</h1>
    <h3>
        This Tutorial
This tutorial is specially designed to help you learn AngularJS as quickly and efficiently as possible.

First, you will learn the basics of AngularJS: directives, expressions, filters, modules, and controllers.

Then you will learn everything else you need to know about AngularJS:

Events, DOM, Forms, Input, Validation, Http, and more .
    </h3>
</div> -->
<div class="body">
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->
 <!-- <app-my-modal>
<div id="modal_title">Registration form</div>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

 </app-my-modal> -->

 <!-- <app-user-list></app-user-list> -->

 <!-- <app-product-list></app-product-list> -->

 <!-- <app-assignment-03-28-2025></app-assignment-03-28-2025> -->

 <!-- <app-pipe-assignment-03-31-2025></app-pipe-assignment-03-31-2025> -->

 <!-- <app-employee-crud></app-employee-crud> -->

 <!-- <app-service-employee></app-service-employee> -->

 <!-- <app-http-demo1></app-http-demo1> -->

 <!-- <app-folder-structure></app-folder-structure> -->

 <app-subject-demo1></app-subject-demo1>

</div>
<h1>This is body</h1>