<h3 class="text-center">Product Details</h3>
<hr />

<div class="row">
    <div class="col-sm-4 offset-4">
        <div class="card text-center mt-2">
            <div class="card-body">
                <p class="card-title"><b>Title: </b>{{product.title}}</p>
                <p class="card-text text-truncate"><b>Desciption: </b>{{product.description}}</p>
                <p class="card-text text-truncate"><b>Id: </b>{{product.id}}</p>
                <p class="card-text text-truncate"><b>Price: </b>{{product.price}}</p>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="text-center">
    <button class="btn btn-primary" routerLink="/products">
        Products
    </button>
</div>