.angular
.vscode
.node_modules
.dist
.gitignore
my-angular-app/node_modules
my-angular-app/dist/my-angular-app/3rdpartylicenses.txt
my-angular-app/dist/my-angular-app/prerendered-routes.json
my-angular-app/dist/my-angular-app/browser/favicon.ico
my-angular-app/dist/my-angular-app/browser/index.csr.html
my-angular-app/dist/my-angular-app/browser/index.html
my-angular-app/dist/my-angular-app/browser/main-7TQ36FSR.js
my-angular-app/dist/my-angular-app/browser/polyfills-FFHMD2TL.js
my-angular-app/dist/my-angular-app/browser/styles-DZ6UBGXD.css
my-angular-app/dist/my-angular-app/server/angular-app-engine-manifest.mjs
my-angular-app/dist/my-angular-app/server/angular-app-manifest.mjs
my-angular-app/dist/my-angular-app/server/chunk-EJSJJTUO.mjs
my-angular-app/dist/my-angular-app/server/chunk-GFUZYSQG.mjs
my-angular-app/dist/my-angular-app/server/chunk-TNO4MGIL.mjs
my-angular-app/dist/my-angular-app/server/chunk-X2SEQXRR.mjs
my-angular-app/dist/my-angular-app/server/index.server.html
my-angular-app/dist/my-angular-app/server/main.server.mjs
my-angular-app/dist/my-angular-app/server/polyfills.server.mjs
my-angular-app/dist/my-angular-app/server/server.mjs
my-angular-app/dist/my-angular-app/server/assets-chunks/index_csr_html.mjs
my-angular-app/dist/my-angular-app/server/assets-chunks/index_html.mjs
my-angular-app/dist/my-angular-app/server/assets-chunks/index_server_html.mjs
my-angular-app/dist/my-angular-app/server/assets-chunks/styles-DZ6UBGXD_css.mjs
.DS_Store
.gitignore
my-angular-app/dist/.DS_Store
.DS_Store
.gitignore
.dist
