<section class="featured-products my-5">
    <div class="container">
      <h3 class="text-center">Featured Products</h3>
      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <img src="https://i5.walmartimages.com/seo/Sonos-Ace-Wireless-Noise-Canceling-Over-Ear-Headphones-White_153f9f1b-6803-4197-b454-6cb662b0519d.537fa30f85228df16dd73c768518d740.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF" class="card-img-top" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Jabra Elite 85h Wireless </h5>
              <p class="card-text">$99.99</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="https://i5.walmartimages.com/seo/My-Texas-House-Wren-Slipcover-Dining-Chair-with-Rolling-Caster-Wheels-Cream-Linen-Fabric_23c47992-6f1c-47d8-9e64-a92f1cd33b23.2c28ac058c6267558736482bb6f3b9e0.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF" class="card-img-top" alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">My Texas House Wren  Dining Chair</h5>
              <p class="card-text">$149.99</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="https://i5.walmartimages.com/seo/Rugged-Wear-Men-s-Black-Jacket-Heavy-Duty-Insulated-Work-L-S-S01_82b35438-743c-4ebb-a293-87d65769b2d3.c5c15c1b860fd46c429b4a35c6afd5fc.jpeg?odnHeight=640&odnWidth=640&odnBg=FFFFFF" class="card-img-top" alt="Product 3">
            <div class="card-body">
              <h5 class="card-title">Rugged Wear Men's Black Jacket</h5>
              <p class="card-text">$79.99</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>