<!-- <app-navbar></app-navbar> -->
<!-- <app-categories></app-categories> -->
<!-- <app-carousel></app-carousel> -->
<app-body></app-body>
<!-- <app-footer></app-footer> -->

<!-- <h1>Data Binding Assignments</h1> -->

<!-- Toggle Component -->
<!-- <h2>1. Toggle Paragraph</h2>
<app-toggle></app-toggle>
<hr> -->

<!-- Character Counter -->
<!-- <h2>2. Character Counter</h2>
<app-character-counter></app-character-counter>
<hr> -->

<!-- State Selector -->
 <!-- <h2>3. State Selector</h2>
<app-state-selector></app-state-selector>
<hr> -->

<!-- State Selector -->
<!-- <h2>4. Calculator</h2>
<app-calculator></app-calculator>
<hr> -->

<!-- Toggle Input -->
 <!-- <h2>5. Toggle Text/Password</h2>
<app-toggle-input></app-toggle-input>
<hr> -->

<!-- Counter to inc, dec, reset -->
 <!-- <h2>6. Counter with 3 controls</h2>
<app-counter></app-counter>
<hr> -->

<!-- Theme toggle -->
 <!-- <h2>7. Theme Toggle</h2>
 <app-theme-toggle></app-theme-toggle>
 <hr> -->


 <!-- <app-user-view></app-user-view> -->

 <!-- <div class="container">
    <app-employee-crud></app-employee-crud>
  </div> -->

  <!-- Pipes Assignment -->
  <!-- <app-pipes-demo></app-pipes-demo> -->


  <!-- EmpCRUD -->
  <!-- <app-emp-crud></app-emp-crud> -->

  <!-- Service Concept Assignment -->
  <!-- <app-employee></app-employee> -->

  <!-- User CRUD -->
  <!-- <app-user-list></app-user-list> -->