<h3 class="class">This is Careers Component</h3>
<hr />

<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="permanent-jobs" routerLinkActive="active">
            Permanent Jobs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contract-jobs" routerLinkActive="active">
            Contract Jobs
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
