<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="http://pre-webunwto.s3.eu-west-1.amazonaws.com/styles/slider/s3/2020-04/measureshome.jpg?itok=xF22v4sP" class="d-block w-100" style="height: 40vh;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="http://pre-webunwto.s3.eu-west-1.amazonaws.com/2022-10/sustainable-tourism.jpg?VersionId=PAb8E2U8EX_q1ymjiIBec6HGlcHVV4K1" class="d-block w-100" style="height: 40vh;"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://washington.org/sites/default/files/styles/hero_banner_extra_large_1920_x_985/public/2021-09/JBSmoove-at-Warner_Warnertheater.jpg.webp?itok=9OqrhpaR" class="d-block w-100" style="height: 40vh;"  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>