
<section class="categories my-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3">
          <div class="category-box">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-c7bf/k2-_9976f48f-9542-43e5-ba4e-e6e60e1a7e63.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF" class="img-fluid" alt="Grocery">
            <h5>Grocery</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-box">
            <img src="images/Apple.jpg"  height ='275px'alt="Mobiles">
            <h5>Mobiles</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-box">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-6ae1/k2-_b66ae352-c339-4c6b-b368-10982f849b07.v1.png?odnHeight=290&odnWidth=290&odnBg=FFFFFF" class="img-fluid" alt="Fashion">
            <h5>Fashion</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-box">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-447a/k2-_e02131d3-3873-4b5b-be47-9f3dac97b9e5.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF" class="img-fluid" alt="Home & Kitchen">
            <h5>Home & Kitchen</h5>
          </div>
        </div>
      </div>
    </div>
  </section>