<div class="body">
    <!-- <app-electronics></app-electronics> -->
    <!-- <app-data-binding></app-data-binding> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-my-modal>
        <div id="modal_title">Registration Form</div>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </app-my-modal> -->
    <!-- <app-user-table></app-user-table> -->
    <!-- <app-user-list></app-user-list> -->
    <app-product-list></app-product-list>
    <!-- <app-demo1></app-demo1> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-traffic-light></app-traffic-light> -->
    <!-- <app-parent></app-parent> -->
    <!-- @if(flag){
        <app-demo1></app-demo1>
    }@else{
        <app-demo2></app-demo2>
    }
    <button class="btn btn-primary" (click)="flag=!flag">Toggle Flag</button> -->
    <!-- <app-http-demo1></app-http-demo1>
    <app-http-demo2></app-http-demo2> -->
    <!-- <app-user-crud-http></app-user-crud-http> -->
    <!-- <app-observable-demo1></app-observable-demo1> -->
    <!-- <app-observable-demo2></app-observable-demo2> -->
    <!-- <app-observable-demo3></app-observable-demo3> -->
    <!-- <app-subject-demo1></app-subject-demo1> -->
    <!-- <app-message1></app-message1>
      <hr/>
      <app-message2></app-message2> -->
</div>