<h4>PIPES</h4>

<div>
    <p>{{myName}}</p>
    <p>{{myName | uppercase}}</p>
    <p>{{num}}</p>
    <p>{{num | currency}}</p>
    <p>{{num | currency : 'INR'}}</p>
</div>

<div>
    <div>{{today}}</div>
    <div>{{today | date}}</div>
    <div>{{today | date : 'shortDate'}}</div>
    <div>{{today | date : 'mediumDate'}}</div>
    <div>{{today | date : 'fullDate'}}</div>
    <div>{{today | date : 'longDate'}}</div>
    <div>{{today | date : 'dd-MM-yyyy'}}</div>
    <div>{{today | date : 'dd-MMM-yyyy'}}</div>
    <div>{{today | date : 'dd-MMMM-yyyy'}}</div>
</div>

<div>
    <h4>{{12.56789876543567|number:"3.2-5"}}</h4>
</div>
