<div class="container-fluid bg-primary p-2 border border-white">
    <div class="row">
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Mobiles</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Fashion</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Home & Kitchen</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Electronics</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Toys</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Health & Wellness</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Beauty</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <div class="category-name text-white">Sports</div>
            </div>
        </div>
    </div>
</div>
