    <!-- <nav-root></nav-root>
    <app-carousel></app-carousel>
    <app-categories></app-categories> 
    <app-data-binding></app-data-binding>
    <app-assignment1></app-assignment1>
    <app-body></app-body>
    <app-footer></app-footer>
    <app-assignment2></app-assignment2>

    <app-employee></app-employee>
    <app-pipes></app-pipes> -->
    <!-- <app-employee-parent></app-employee-parent> -->
    <!-- <app-demo1></app-demo1> -->
     <!-- <app-employee-service-component></app-employee-service-component> -->
     <!-- <app-https-client></app-https-client> -->
     <!-- <app-file-tree-item></app-file-tree-item> -->
     <!-- <app-file-explorer></app-file-explorer> -->
     <app-signal-demo1></app-signal-demo1>     
     <app-signal-demo2></app-signal-demo2>