<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://preview.redd.it/s7dp9of3mqn41.png?auto=webp&s=98b9dfd22e042c839ee6894aedf96fba5c988bd0"
                class="d-block w-100" alt="Solo Leveling">
        </div>
        <div class="carousel-item active">
            <img src="https://wallpapers.com/images/hd/one-piece-4k-luffy-comic-art-9tvmgyxsk2o6u908.jpg"
                class="d-block w-100" alt="One Piece">
        </div>
        <div class="carousel-item">
            <img src="https://wallpapers.com/images/hd/4k-ultra-hd-naruto-orange-tla6bz196apips4h.jpg"
                class="d-block w-100" alt="Naruto">
        </div>
        <div class="carousel-item">
            <img src="https://images3.alphacoders.com/135/1357651.png" class="d-block w-100" alt="Wind Breaker">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>