<div class="container">
    <h2>Employee List</h2>
    <label class="label-bold"><b>Filter Employees:</b></label>
    <select id="filter" [(ngModel)]="selectedFilter" (change)="filterEmployees()">
      <option value="allEmployees">All Employees</option>
      <option value="maleEmployees">Male Employees</option>
      <option value="femaleEmployees">Female Employees</option>
    </select>
    <table class="table table-hover align-middle">
          <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; trackBy: trackByEmployee">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.position }}</td>
        </tr>
      </tbody>
    </table>
  </div>