<div class="container mt-2">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://static-ecapac.acer.com/media/catalog/product/0/1/01_1_2_um.qv7si.e01.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=500&width=500&canvas=500:500"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Monitors</h5>
                    <p class="card-text">From 6499</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://m.media-amazon.com/images/I/51x59RX3WvL._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projectors</h5>
                    <p class="card-text">From 4599</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://static-ecapac.acer.com/media/catalog/product/0/1/01_1_2_um.qv7si.e01.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=500&width=500&canvas=500:500"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Monitors</h5>
                    <p class="card-text">From 6499</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://m.media-amazon.com/images/I/51x59RX3WvL._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projectors</h5>
                    <p class="card-text">From 4599</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>