
<div class="body">
    <!-- <app-electronics></app-electronics> -->
    <!-- <app-data-binding></app-data-binding> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-user-list></app-user-list> -->
    <!-- <app-product-list></app-product-list> -->
    <!-- <app-demo1></app-demo1> -->
    <!-- <app-parent></app-parent> -->
    <!-- @if(flag){
        <app-demo1></app-demo1>
    }@else{
        <app-demo2></app-demo2>
    } -->
    <app-http-demo1></app-http-demo1>
    <button class="btn btn-primary" (click)="flag=!flag">Toggle Flag</button>
</div>