<h2 class="text-center">Product List</h2>
<hr />

<div class="container">
    <div class="row">
        
        <div class="col-sm-6 offset-2">
            
            <input type="search" placeholder="Search Product..." class="form-control" [(ngModel)]="prod" />
            
           
        </div>
        <div class="col-sm-4">
            <fa-icon [icon]="faMagnifyingGlassMinus"></fa-icon>
            <button class="btn btn-primary mx-2" (click)="sortasc()">Sort Asc</button>
            <button class="btn btn-secondary" (click)="sortdesc()">Sort Desc</button>
        </div>
    </div>
    
    <div class="row mt-2">
   
        @for(product of filteredProducts()| paginate: { itemsPerPage: 4, currentPage: p};track product.id){
       
            
            <div class="col-sm-3">
                <div class="card text-center mt-2">
                    <img src="{{ product.image }}" height="150px" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{ product.category }}</h5>
                        <p class="card-text text-truncate">{{ product.title }}</p>
                        <p class="card-text text-truncate">{{ product.description }}</p>
                        <p class="card-text">Price: {{ product.price }}</p>
                        <p class="card-text">Rating: {{ product.rating.rate }}</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            
            
            </div>
            
       
    }
    </div>
    <div class="row mt-2">
        <div class="col-sm-4 offset-4">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>