<!-- <app-data-binding></app-data-binding>  
<app-data-binding-assign></app-data-binding-assign> -->
<!-- <app-directives></app-directives> -->
<!-- <app-card-table-assign></app-card-table-assign> -->
<!-- <app-my-modal></app-my-modal> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-demo1></app-demo1> -->
<!-- <app-pipe-assign></app-pipe-assign> -->
<!-- <app-employee-crud></app-employee-crud> -->
<!-- <app-employee-service1></app-employee-service1> -->
<!-- <app-user-crud></app-user-crud> -->
<!-- <app-folder-structure></app-folder-structure>
<app-subject-demo1></app-subject-demo1> -->
<!-- <app-form-assign></app-form-assign> -->
<!-- <app-model-forms></app-model-forms> -->
<router-outlet></router-outlet>
