<h2 class="text-center">User List</h2>

<div class="container">
    <div class="row">
        @for(user of users;track user.id){
            <div class="col-sm-3">
                <div class="card text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQfF_VvADcrR8iGtgkBBunroA3XqMtjv7fe61gJZJA5suDEu2Gr4BY79rHJ30H-GaP0AA&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{user.username}}</h5>
                        <p class="card-text">Name: {{user.name}}</p>
                        <p class="card-text">Email: {{user.email}}</p>
                        <p class="card-text">Phone: {{user.phone}}</p>
                        <p class="card-text">City: {{user.address.city}}</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>