
<div class="button-container m-3">
    <button (click)="toggleview()" class="btn btn-primary">Table/card View</button>
  </div>

<div *ngIf="istableview; else cardView">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>username</th>
          <th>email</th>
          <th>address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employees; trackBy: trackByemployee">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.address.street }},
          {{ item.address.suite }},
          {{ item.address.city }},
          {{ item.address.zipcode }},
          {{ item.address.geo.lat }},
          {{ item.address.geo.lng }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #cardView>
    <div class="row">
      <div *ngFor="let item of employees; trackBy: trackByemployee" class="col-3 mb-4 d-flex">
        <div class="card w-100 h-100">
          <div class="card-body d-flex flex-column">
            <h3>Name: {{ item.name }}</h3>
            <p>ID: {{ item.id }}</p>
            <p>Name: {{ item.name }}</p>
            <p>Email: {{ item.email }}</p>
            <p class="card-text">
              Address: {{ item.address.street }},
              {{ item.address.suite }},
              {{ item.address.city }},
              {{ item.address.zipcode }},
              Latitude: {{ item.address.geo.lat }},
              Longitude: {{ item.address.geo.lng }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>