<style>
    /* Custom styling */
    .product-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 2px;
        text-align: center;
    }
    .product-image {
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }
</style>
<div class="container my-5">
    <h2 class="text-center mb-4">Our Products</h2>
    <div class="row">
        <!-- Product 1 -->
        <div class="col-md-2 mb-2">
            <div class="product-card">
                <img src="https://m.media-amazon.com/images/G/31/img21/MA2024/AW24FLIP/CELEBNEW/Rohit_1020x1400._SY530_QL85_FMpng_.png" alt="Product 1" class="product-image mb-3">
                
                <div><button class="btn btn-primary">Add to Cart</button></div>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="col-md-2 mb-4">
            <div class="product-card">
                <img src="https://m.media-amazon.com/images/G/31/img21/MA2024/AW24FLIP/CELEBNEW/Hardik_Pandya_1020x1400._SY530_QL85_FMpng_.png" alt="Product 2" class="product-image mb-3">
                <div><button class="btn btn-primary">Add to Cart</button></div>
            </div>
        </div>
        <!-- p3-->
        <div class="col-md-2 mb-2">
            <div class="product-card">
                <img src="https://m.media-amazon.com/images/G/31/img21/MA2024/AW24FLIP/CELEBNEW/Suryakumar_1020x1400._SY530_QL85_FMpng_.png" alt="Product 1" class="product-image mb-3">
                
                <div><button class="btn btn-primary">Add to Cart</button></div>
            </div>
        </div>
        <!--p4-->
        <div class="col-md-2 mb-2">
            <div class="product-card">
                <img src="https://m.media-amazon.com/images/G/31/img21/MA2024/AW24FLIP/CELEBNEW/Ishaan_Khattar_1020x1400._SY530_QL85_FMpng_.png" alt="Product 1" class="product-image mb-3">
                
                <div><button class="btn btn-primary">Add to Cart</button></div>
            </div>
        </div>

        <!--p5-->
        <div class="col-md-2 mb-2">
            <div class="product-card">
                <img src="https://m.media-amazon.com/images/G/31/img21/MA2024/AW24FLIP/CELEBNEW/KL_Rahul_1020x1400._SY530_QL85_FMpng_.png" alt="Product 1" class="product-image mb-3">
                
                <div><button class="btn btn-primary">Add to Cart</button></div>
            </div>
        </div>

        <!--p6-->
        <div class="col-md-2 mb-2">
            <div class="product-card">
                <img src="https://m.media-amazon.com/images/G/31/img21/MA2024/AW24FLIP/CELEBNEW/Ram_Charan_1020x1400._SY530_QL85_FMpng_.png" alt="Product 1" class="product-image mb-3">
                
                <div><button class="btn btn-primary">Add to Cart</button></div>
            </div>
        </div>
    </div>
</div>
