<div class="border p-2">
    <div>This is Child-1 Component</div>
    <input type="text" #inputBox1 />
    <div>my parent's data a is {{a}}</div>
    @for(item of numArr;track $index){
        <b>{{item}} &nbsp;</b>
    }
    <button class="btn btn-success" (click)="refresh()">refresh</button>
    <div>my own data b is {{b}} &nbsp; <input type="number" [(ngModel)]="b"></div>
    <div>my own data userName is- {{userName}}</div>
    <button class="btn btn-primary" (click)="sendDataToParent()">Send Data To Parent</button>
    <button class="btn btn-secondary mx-2" (click)="sayHi()">Say Hii</button>
</div>