<div class="container">
    <div class="row mt-4">
        <div class="col-3 mr-2">
            <div class="card card_content-bottom  card_publications">
                <div class="card__img-wrap">
                    <a href="/am-news-vol-73-march-2025">  <img src="http://pre-webunwto.s3.eu-west-1.amazonaws.com/styles/347x195/s3/2025-03/51-un-tourism-regional-commission-for-the-middle-east-conference-sports-tourism-after-fifa-world-cup.jpg?VersionId=3kpTCq.JRe4WbZku699diohmNc6a4417&amp;itok=MUvTtJzg" width="347" height="195" alt="AM News | VOL. 74 - March 2025" loading="lazy" typeof="Image" class="image-style-_47x195"></a>
                </div>
                <div class="card__content">
                    <div class="card__tags">
                        <div class="card__ellipsis">
                        <a href="/publications?keys=&amp;region[]=5">All Regions</a> <a href="/publications?keys=&amp;tags[]=345">Affiliate Members</a> 
                         </div>
                       <span class="card__date"> 2025</span>
                    </div>
                    <h2 class="card__title"><a href="/am-news-vol-73-march-2025" hreflang="en">AM News | VOL. 74 - March 2025</a></h2>
                     <a href="http://pre-webunwto.s3.eu-west-1.amazonaws.com/s3fs-public/2025-03/am-nl-74-march.pdf?VersionId=.fvNDjyPqGweI_4CdK86oEYT.vIo_bEx" target="_blank" class="un-btn-solid un-btn_bordered">Download</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card__img-wrap">
                <a href="/am-news-vol-73-february-2025">  <img src="http://pre-webunwto.s3.eu-west-1.amazonaws.com/styles/347x195/s3/2025-02/ifema.jpg?VersionId=dqxbGis6lyXgFKjAuGFfpNfj7oWkwsoc&amp;itok=ETN43bjw" width="347" height="195" alt="AM News | VOL. 73 - February 2025 | Special Edition FITUR" loading="lazy" typeof="Image" class="image-style-_47x195">
        
        
        </a>
            </div>
            <div class="card__content">
                <div class="card__tags">
                    <div class="card__ellipsis">
                    <a href="/publications?keys=&amp;region[]=5">All Regions</a> <a href="/publications?keys=&amp;tags[]=345">Affiliate Members</a> 
                     </div>
                   <span class="card__date"> 2025</span>
                </div>
                <h2 class="card__title"><a href="/am-news-vol-73-february-2025" hreflang="en">AM News | VOL. 73 - February 2025 | Special Edition FITUR</a></h2>
                 <a href="http://pre-webunwto.s3.eu-west-1.amazonaws.com/s3fs-public/2025-02/am-nl-73-february.pdf?VersionId=pULE1IhQbT.LPa_y1mQD7VwKELWcomk8" target="_blank" class="un-btn-solid un-btn_bordered">Download</a>
            </div>
        </div>
        <div class="col-3">
            <div class="card__img-wrap">
                <a href="/am-nl-71-january">  <img src="http://pre-webunwto.s3.eu-west-1.amazonaws.com/styles/347x195/s3/2025-01/junary-amnews.jpg?VersionId=LOgnXhBD_pHzYTp.tgjWrH2n2C6hdq2m&amp;itok=eErC0pNY" width="347" height="195" alt="VOL. 72 - January 2025" loading="lazy" typeof="Image" class="image-style-_47x195">
        
        
        </a>
            </div>
            <div class="card__content">
                <div class="card__tags">
                    <div class="card__ellipsis">
                    <a href="/publications?keys=&amp;region[]=5">All Regions</a> <a href="/publications?keys=&amp;tags[]=345">Affiliate Members</a> 
                     </div>
                   <span class="card__date"> 2025</span>
                </div>
                <h2 class="card__title"><a href="/am-news-vol-73-march-2025" hreflang="en">AM News | VOL. 74 - March 2025</a></h2>
                 <a href="http://pre-webunwto.s3.eu-west-1.amazonaws.com/s3fs-public/2025-03/am-nl-74-march.pdf?VersionId=.fvNDjyPqGweI_4CdK86oEYT.vIo_bEx" target="_blank" class="un-btn-solid un-btn_bordered">Download</a>
            </div>

        </div>
        <div class="col-3">
            <div class="card card_content-bottom  card_publications">
                <div class="card__img-wrap">
                    <a href="/am-news-vol-73-march-2025">  <img src="http://pre-webunwto.s3.eu-west-1.amazonaws.com/styles/347x195/s3/2025-03/51-un-tourism-regional-commission-for-the-middle-east-conference-sports-tourism-after-fifa-world-cup.jpg?VersionId=3kpTCq.JRe4WbZku699diohmNc6a4417&amp;itok=MUvTtJzg" width="347" height="195" alt="AM News | VOL. 74 - March 2025" loading="lazy" typeof="Image" class="image-style-_47x195"></a>
                </div>
                <div class="card__content">
                    <div class="card__tags">
                        <div class="card__ellipsis">
                        <a href="/publications?keys=&amp;region[]=5">All Regions</a> <a href="/publications?keys=&amp;tags[]=345">Affiliate Members</a> 
                         </div>
                       <span class="card__date"> 2025</span>
                    </div>
                    <h2 class="card__title"><a href="/am-news-vol-73-march-2025" hreflang="en">AM News | VOL. 74 - March 2025</a></h2>
                     <a href="http://pre-webunwto.s3.eu-west-1.amazonaws.com/s3fs-public/2025-03/am-nl-74-march.pdf?VersionId=.fvNDjyPqGweI_4CdK86oEYT.vIo_bEx" target="_blank" class="un-btn-solid un-btn_bordered">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>