<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Product Card 1 -->
        <div class="col">
            <div class="card h-100">
                <img src="https://ss7.vzw.com/is/image/VerizonWireless/apple-iphone-16-pro-max-black-titanium?wid=930&hei=930&fmt=webp" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">iPhone</h5>
                    <p class="card-text">The best smartphone out there</p>
                </div>
            </div>
        </div>
        <!-- Product Card 2 -->
        <div class="col">
            <div class="card h-100">
                <img src="path/to/image2.jpg" class="card-img-top" alt="Product 2">
                <div class="card-body">
                    <h5 class="card-title">Product 2</h5>
                    <p class="card-text">Description of Product 2</p>
                </div>
            </div>
        </div>
        <!-- Product Card 3 -->
        <div class="col">
            <div class="card h-100">
                <img src="path/to/image3.jpg" class="card-img-top" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">Description of Product 3</p>
                </div>
            </div>
        </div>
        <!-- Add more cards as needed -->
    </div>
</div>