<div class="body-container text-center">
    <div>
        <!-- <p>body works!</p> -->
        <!-- <app-data-binding></app-data-binding> -->
         <!-- <app-directives></app-directives> -->
         <!-- <app-product-list></app-product-list> -->
        <!-- <app-employee-crud></app-employee-crud> -->
        <!-- <app-pipes></app-pipes> -->
        <!-- <app-employee></app-employee> -->
        <!-- <app-service-employee></app-service-employee> -->
        <!-- <app-users-crud></app-users-crud> -->
        <!-- <app-folder-structure></app-folder-structure> -->
         <!-- <app-signal-demo1></app-signal-demo1> -->
          <!-- <app-signal-demo2></app-signal-demo2> -->
           <!-- <app-form-demo1></app-form-demo1> -->
           <!-- <app-form-demo2></app-form-demo2> -->
        <!-- <app-form-demo3></app-form-demo3> -->
         <router-outlet></router-outlet>
    </div>
</div>
<!-- <div>
    <app-forms-practise></app-forms-practise>
</div> -->


